@import "variables.scss";
@import "mixins.scss";


.btn-1 {
    @include myButton1;
    background-color: $blue;
    &:hover {
        &:hover {
            background-color: red;
            color: white
        }
    }
}

.btn-2 {
    @include myButton1;
    border: 2px solid $darkgray;

    &:hover {
        background-color: white;
        color: black;
    }
}

.btn-3 {
    @include myButton1;
    background-color: red; 
    display: inline-block;

    &:hover {
        color: white;
    }
}

