@import "variables.scss";
@import "mixins.scss";

* {
    font-family: "Barlow Semi Condensed", Arial, Helvetica, sans-serif
}

.playbutton-background { 
    @include play-background;
}

.playbutton {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: $blue;
}

.w-30 {
    width: 30%;
}

.w-25 {
    width: 25%;
}

a {
    text-decoration: none !important;
    color: white;
}

.white {
    color: $white;
}

.red {
    color: red;
}

.blue {
    color: $blue;
}

.darkgray {
    color: $darkgray;
}

.yellow {
    color: yellow;
    
}

.silver {
    color: $silver;
}

.smaller-font {
    font-size: 0.9em;
}

.small-font {
    font-size: 0.8em;
}

.smallest-font {
    font-size: 0.7em;
}

.black {
    color: black;
}

.left-chev {
    transform: translateX(3.3px);
}

.right-chev{
    transform: translateX(-3.3px);
}


.clear {
    opacity: 0.5;
}

.bold {
    font-weight: bold;
}

.newblack {
    color: $newblack;
}

.w-70 {
    width: 70%;
}

.playbutton-background, .play-me {
    &:hover {
        cursor: pointer;
    }
}

.last-button{
    &:hover {
        cursor: pointer;
    }
}

.hoverblue {
    &:hover {
        color: $blue;
    }
}

