@import "variables.scss";
@import "mixins.scss";

.playbutton-background { 
    @include play-background;
}

.playbutton {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: $blue;
}

.w-30 {
    width: 30%;
}

.w-25 {
    width: 25%;
}

a {
    text-decoration: none !important;
}

.white {
    color: $white;
}

.red {
    color: red;
}

.blue {
    color: $blue;
}

.darkgray {
    color: $darkgray;
}

.small-font {
    font-size: 0.8em;
}

.clear {
    opacity: 0.5;
}

