@import "variables.scss";
@import "mixins.scss";

header {
    background-color: black;

    a {
        &:hover {
            color: white;
        }
    }
}

nav {
    height: 80px;
    padding-top: 10px;

    ul li{
        margin: 0 15px;
    }

    i {
        &:hover {
            color: white;
            transform: scale(1.1);
        }
    }
}

header ul {
    list-style: none;
}

.my-jumbotron {
    background-image: linear-gradient(to right, black, #0e0e11);
}

.inter-jumbotron {
    background-image: url("/imgs/fitness_thumbnail.jpg");
    background-repeat: no-repeat;
    background-position: right ;
    position: relative;
    padding: 100px 0 120px;
}

.on-video-clicks {
    position: absolute;
    right: 20px;
    top: 40px;

    div {
        padding: 2px 5px 0;
        background-color: white;
        border-radius: 5px;

        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }

        p {
            font-size: 0.7em;
            color: black;
        }
    }
}

header .playbutton-background {
    top: 50%; 
    right: 15%; 
}

.new {
    background-color: yellow;
    padding: 3px 8px;
    border-radius: 3px;
}

.my-search {
    border-radius: 50px;
    padding: 0px 100px;
    &::placeholder {
        text-align: center;
    }
}



