@import "variables.scss";


@mixin myButton1 {
    padding: 10px 25px 12px;
    border-radius: 50px;
    i {
        color: $white;
    }
    span {
        font-size: 0.8em;
    }
}

@mixin three-images {
    width: 30%;
    border-radius: $radius;
}

@mixin play-background {
    position: absolute;
    background-color: white; 
    border-radius: 50%; 
    padding: 30px;
}