@import "variables.scss";
@import "mixins.scss";

.section-4 {
    padding: 50px 0;

    img {
        @include three-images;    
    }

    .playbutton-background {
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}