@import "variables.scss";
@import "mixins.scss";

.section-2 {
    background-image: linear-gradient(150deg, $blue, $red);
    padding-bottom: 100px;
    color: $white;

    .position-relative.col-12.col-lg-4.mb-5 {
        &:hover {
            transform: scale(1.05)
        }
    }

        .container .exercise {
            @include three-images;
            transform: translateY(-50px);
            box-shadow: 0 0 50px black;
        }

        .banana {
            transform: translateY(-50px);
            @include three-images;
            width: calc(100% - 24px);
            height: calc(100%);
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.5));
            display: flex;
            align-items: flex-end;
            padding: 40px;
        }


}

.motivational {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

img.exercise {
    filter: brightness(70%);

    &:hover {
        transform: scale(1.2);
    }
}

