@import "variables.scss";
@import "mixins.scss";

.section-3 {
    h2 {
        margin-bottom: 30px;
    }

    h2 {
        color: black;
    }

    .advice {
        padding: 100px;
    }

    .themefusion {
        color: $darkgray;
        font-weight: 550;
    }

    .youtube-channel {
        background-color: red;
        display: inline-block;

        &:hover {
            color: white;
        }
    }

    .followers {
        display: inline-block;
        padding: 20px;
    }

    .border-1 {
        border: 1px solid $silver;
        padding: 0;
    }

    .arcu {
        margin: 30px 0;
        color: $darkgray;
        font-size: 1.1em;
    }
}

@media screen and (max-width: 990px) {
    .section-3 {


        .themefusion {
            text-align: left;
        }
    }
}
