@import "variables.scss";
@import "mixins.scss";

.section-8 {
    padding: 150px 0;
    background-image: url("/imgs/fitness_thumbnail.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

