$white: #ffffff;
$background-black: #060606;
$purple: #6b0c7a;
$red: #bc0428;
$silver: #bcbcbc;
$blue: #4154fe;
$darkgray: #78787a;
$astroblue: #014461;
$sienna: #ec5a57;
$green: #504e00;
$newblack: #212529;

$spacer: 10px;
$radius: 0 0 10% 0;

